.sidebar{
    min-width: 300px;
    width: 30%;
    border-right: 1px solid lightgrey;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fafafa;
}

.header-sidebar{
height: 50px;
  padding: 5px 0 5px 10px;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid lightgray;
}

.profile-pic-user{
    width: 42px;
    height: 42px;
}

.profile-pic-user > img{
    width: 42px;
    height: 42px;
    cursor: pointer;
    border-radius: 100%;
}

.search{
    height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
}

.search-input{
    width: 90%;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #fff;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.input > input{
    background-color: transparent;
  border: none;
  outline: none;
  margin-left: 6px;
  margin-bottom: 2px;
  width: 80%;
}

.search-icon > img{
    width: 42px;
    height: 42px;
    cursor: pointer;
    border-radius: 100%;
}

.chatlist{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
